.header{
    position:fixed;
    top:0;
    z-index:1000;
    width:100vw;
}

.scrolled{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter:saturate(180%) blur(20px);
}
.headerWrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 100px;
}   

.menuButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 50px;
    border: 1.6px solid #fff;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}
.menuButton{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
   
}