.banner {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: linear-gradient(-30deg,
    rgb(211, 52, 46) 36%,
    rgb(100, 65, 165) 100%);
    width:100vw;
   height:500px;
   
}

.bannerWrapper{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    gap: 50px;
}

.image{
    max-width: 40%;
    flex:1 40%;
    display:flex;
    flex-direction:row;
    align-items:center;
    
    .image1{
        opacity:0;
        animation: slideIn 3s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    .image2{
        margin-left:-20px;
        opacity:0;
        animation: slideIn 3s ease-in-out forwards;
        animation-delay: 1s;
    }
    .image3{
        margin-left:-60px;
        opacity:0;
        animation: slideIn 3s ease-in-out forwards;
        animation-delay: 1.5s;
    }
    .image4{
        margin-left:-115px;
        opacity:0;
        animation: slideIn 3s ease-in-out forwards;
        animation-delay: 2s;
    }
    
}



@keyframes slideIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.content{
    text-align:left;
    max-width: 60%;
    flex:1 60%;
    padding-right:100px;
    .title{
        color: #fff;
        font-size: 48px;
        font-weight: 800;
        line-height: 1.3;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: left;
    }
    .description{
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #fff;
        margin-bottom: 30px;
    }
    .button{
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #fff;
        background-color:transparent;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius:25px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover{
            background-color: #fff;
            color: #000;
            transition: 0.5s all;
        }

    }
}

