.studioxCarousalWrapper {
    width: 100%;
    padding: 30px;
    color: #fff;
  }
  
  .studioxCarousalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .studioxCarousalTitle {
    font-size: 48px;
    font-weight: 600;
  }
  
  .studioxCarousalItem video {
    width: 100%;
    border-radius: 16px;
  }
  
  .studioxCarousalControls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    
  }
  
  .control {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 20px;
    border-radius: 12px;
    transition: all 0.3s ease;
    min-width: 200px;
    text-align: center;
  }
  
  .control.active {
    background: rgba(255, 255, 255, 0.15);
  }
  
  .progressBar {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .progressFill {
    height: 100%;
    background: linear-gradient(130.35deg, #6441A5 1.92%, #D3342E 98.08%);
    transition: width 0.1s linear;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid rgba(83, 85, 95, 0.5);
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .active .dot {
    background: grey;
  }
  
  @media (max-width: 768px) {
    .control {
      background: none;
      padding: 0;
      min-width: auto;
    }
  }
  