.cardContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    margin-top: 50px;
}

.card{
    border-radius: 20px;
    width: calc(100%/ 3 - 20px);
    height: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    display: flex;
    border: 1px solid #53555f;
    flex-direction: column;
    .image{
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}

.cardBody {
    padding: 16px;
}

.cardHeader {
    width: 100%;
    height: 133px;
    overflow: hidden;

}
.cardDateText {
    font-size: 14px;
    color: #53555f;
    font-weight: 300;
    margin-bottom: 10px;
}

.cardContent {
    flex: 1;
    min-height: 100px;
}

.cardTitle {
    margin: 0;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 1.5;
}


.cardFooter {
    display: flex;
    align-items: center;
}

.cardLink {
    border: 1px solid #53555f;
    border-radius: 50px;
    color: #000000;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 7px 20px;
    line-height: 1;
    text-align: center;
}

.cardLink:hover {
border-color: #d8342f;
}


.authorNameText {
    font-weight: 600;
    color: #53555f;
    
}