.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #6441a5 0%, #d3342e 100%);
  width: 100vw;
  height: 310px;
  text-align: center;
}

.h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 26px;
}

.button {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}
.button:hover {
  background-color: #fff;
  color: #000;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 15px;
}

.newsletter h2 {
  font-weight: 500;
  font-size: 18px;
}

.form {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  overflow: hidden;
  width: 500px;
  max-width: 90%;
}

.input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.input::placeholder {
  color: #ccc;
}

.submit {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 12px 25px;
  border-radius: 0 50px 50px 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit:hover {
  transition: 0.3s ease;
}