.blogFilterWrapper{
    width: 100%;
    margin-top: 100px;
}

.blogFilterList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #53555f;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 25px 0 5px 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
}

.blogFilterHeader{
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s;
}



.blogFilterContent{
    min-height: 50px;
}

.blogFilterContent .blogFilterList{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

}

.blogFilterContent .blogFilterList li{
    list-style: none;
}

.blogFilterItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 50px;
    padding: 6px 15px;
    font-size: 16px;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}


.blogFilterDot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #DEDEDE;
}

.blogFilterSeparator{
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 0;
}


.blogFilterCloseButtonContainer{
    display: flex;
    justify-content: flex-end;
}

.blogFilterCloseButton{
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #bbbbbb;
    width: 24px;
    height: 24px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
