.studioxFeaturesWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studioxFeaturesTitleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    .studioxFeaturesTitle{
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        font-weight: 600;
        color: #FFFFFF;
    }
}


.studioxFeaturesCardsWrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
}

.studioxFeaturesCards{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.studioxFeaturesCard{
    background-color: #2D2F34;
    padding: 20px 20px 20px 20px;
    border-radius: 8px 8px 8px 8px;
    font-family: "Poppins", sans-serif;
    padding: 20px;

    svg{
        margin-bottom: 10px;
    }
    span{
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 15px;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        color:#E0E0E0;
    }

    

}

.studioxFeaturesCardItems{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 50%;
    flex: 1 50%;
}



.studioxFeaturesCardImage{
    width: 620px !important;
    height: 236px !important;
    overflow: hidden;
    position: relative;
}

.studioxFeaturesCardImage img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 8px;
}


.studioxFeaturesCardItemsWrapper{
    max-width: 30%;
    flex: 0 0 30%;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.studioxFeaturesCardItemsTwo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: hidden;
}

.studioxFeaturesCardItemsTwo .studioxFeaturesCard{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.studioxFeaturesCardTwo{
    max-width: 24%;
    flex: 0 0 24%;
    width: 24%;
    height: 500px;
    display: flex;
}

.studioxFeaturesCardTwo img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}


.studioxFeaturesCardThree{
    max-width: 42.5%;
    flex: 0 0 42.5%;
    width: 42.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    height: 500px;
    overflow: hidden;
}

.studioxFeaturesCardThree img{
    width: 100%;
    height: 240px;
    border-radius: 8px;
    object-fit: cover;
    flex: 1;
}



