
.footer {
  background-color: #000;
  color: #fff;
  padding-bottom: 40px;
}



.line {
  margin: 40px auto;
  width: 90%;
  border-color: #333;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.logoCircle {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 13px;
  color: #bbb;
}

.socials {
  display: flex;
  gap: 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.socials svg:hover {
  color: #ccc;
  
}

.right{
  display: flex;
  align-items: center;
}

.socials{
  margin-left: 10px;
  font-size: 12px;

}